@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.btn-default {
	@include button;
	border: 1px solid $dark;
	color: $dark;
	width: 230px;
	height: 50px;
	font-size: 20px;

	&:hover {
		background-color: $dark;
		color: $light;
	}
	&:active {
		background-color: rgba($ui-active, 10%);
		color: $dark;
		box-shadow: 0 0 10px rgba($dark, 40%) inset;
	}
}

@media only screen and (min-width: $lg) {
	.btn-default {
		width: 330px;
		height: 60px;
	}
}

.send-request-button {
	@include button;
	border: 1px solid $dark;
	color: $dark;
	width: 220px;
	height: 40px;
	font-size: 16px;
}

.send-request-button:hover {
	border: 1px solid $ceramic;
	color: $ceramic;
}

.send-request-button:active {
	border: 1px solid $ceramic;
	color: $dark;
}

.send-request-button:disabled {
	border: 1px solid $ui-disabled;
	color: $ui-disabled;
}

.submit-button {
	@include button;
	border: 1px solid $light;
	color: $light;
	width: 90px;
	height: 40px;
	font-size: 16px;
}

.submit-button:disabled {
	border: 1px solid $ui-disabled;
	color: $ui-disabled;
}

.read-button {
	@include button;
	border: 1px solid $dark;
	color: $dark;
	width: 145px;
	height: 32px;
	font-size: 16px;
}

.read-button:hover {
	border: 1px solid $ceramic;
	color: $ceramic;
}

.read-button:active {
	border: 1px solid $ceramic;
	color: $dark;
}
