@use "/src/sass/base/variables.scss" as *;

.blog__article {
    box-sizing: border-box;
    border: 1px solid $dark;
    box-shadow: $default-box-shadow;

    &__top {
        display: flex;
    }
    &__title-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 25px;
    }
    &__title {
        text-align: start;
    }
    &__description {
        padding: 15px 25px;
    }
    &__image-container {
        overflow: hidden;
        height: 240px;
        display: flex;
        justify-content: center;
    }
    &__image {
        min-width: 335px;
        min-height: 240px;
    }
}

@media only screen and (min-width: $lg)  {
    .blog__article {
        width: 620px;

        &__image-container {
            width: fit-content;
        }
    }
}

@media only screen and (min-width: $md) and (max-width: calc($lg - $eps))  {
    .blog__article {
        width: 520px;

        &__image-container {
            min-width: 260px;
            max-width: 260px;
        }
    }
}

@media only screen and (min-width: $sm) and (max-width: calc($md - $eps))  {
    .blog__article {
        width: 670px;

        &__image-container {
            width: fit-content;
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: calc($sm - $eps))  {
    .blog__article {
        width: 340px;

        &__top {
            flex-direction: column;
        }
        &__title {
            margin-bottom: 30px;
        }
        &__image-container {
            width: 100%;
        }
        &__image {
            width: 100%;
        }
        &__description {
            padding-top: 0;
            padding-bottom: 25px;
        }
    }
}
