@use "/src/sass/base/variables.scss" as *;

.promo__section-2 {
    &__articles {
        display: flex;
        width: 100%;
    }
    &__article {
        &__img {
            box-shadow: $default-box-shadow;
        }
        &__img-container {
            margin-bottom: 30px;
        }
        &__text {
            font-size: 20px;
            &--emphesize {
                color: $ceramic;
            }
        }
    }
}

@media only screen and (min-width: $lg) {
	.promo__section-2 {
        margin-bottom: 120px;
        &__title {
            margin-bottom: 88px;
        }
        &__articles {
            justify-content: space-between;
            padding: 0 10px;
        }
        &__article {
            &__title {
                margin-bottom: 60px;
            }
            &__content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: min-content;
            }
            &__img-container {
                height: 320px;
                width: max-content;
            }
            &__img {
                height: 100%;
            }
            &__text {
                max-width: 566px;
            }
        }
    }
}

@media only screen and (min-width: $md) and (max-width: calc($lg - $eps)) {
	.promo__section-2 {
        margin-bottom: 60px;
        &__title {
            margin-bottom: 88px;
        }
        &__articles {
            justify-content: space-between;
            padding: 0 10px;
        }
        &__article {
            &__title {
                margin-bottom: 60px;
            }
            &__content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: min-content;
            }
            &__img-container {
                height: 250px;
                width: max-content;
            }
            &__img {
                height: 100%;
            }
            &__text {
                max-width: 566px;
            }
        }
    }
}

@media only screen and (min-width: $sm) and (max-width: calc($md - $eps)) {
	.promo__section-2 {
        margin-bottom: 60px;
        width: 530px;
        margin-left: auto;
        margin-right: auto;
        &__title {
            margin-bottom: 40px;
        }
        &__articles {
            flex-direction: column;
            align-items: center;
        }
        &__article {
            margin-bottom: 40px;
            &__title {
                margin-bottom: 45px;
            }
            &__text {
                width: 100%;
            }
        }
        &__article:last-child {
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: calc($sm - $eps)) {
	.promo__section-2 {
        margin-bottom: 60px;
        &__title {
            margin-bottom: 26px;
        }
        &__articles {
            flex-direction: column;
            align-items: center;
        }
        &__article {
            margin-bottom: 40px;
            &__title {
                margin-bottom: 45px;
            }
            &__img {
                width: 340px;
            }
            &__text {
                width: 100%;
            }
        }
        &__article:last-child {
            margin-bottom: 0;
        }
	}
}