@use "/src/sass/base/variables.scss" as *;

.about__find-us {
    width: 100%;
    &__map-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        overflow: hidden;
    }
    &__map {
        width: 663px;
    }
}

@media only screen and (min-width: $lg) { 
    .about__find-us {
        margin-bottom: 100px;

        &__title {
            margin-bottom: 100px;
        }
    }
}

@media only screen and (min-width: $md) and (max-width: calc($lg - $eps)) { 
    .about__find-us {
        margin-bottom: 60px;

        &__title {
            margin-bottom: 68px;
        }
    }
}

@media only screen and (min-width: $sm) and (max-width: calc($md - $eps)) { 
    .about__find-us {
        margin-bottom: 60px;

        &__title {
            margin-bottom: 68px;
        }
        &__map-container {
            height: 400px;
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: calc($sm - $eps)) { 
    .about__find-us {
        margin-bottom: 60px;

        &__title {
            margin-bottom: 68px;
        }
        &__map-container {
            height: 206px;
        }
        &__map {
            width: 340px;
        }
    }
}