@use "/src/sass/base/variables.scss" as *;

@mixin title {
	color: $dark;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

@mixin button {
	display: block;
	background-color: transparent;
	border-radius: 2px;
	text-align: center;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.1s linear;
	box-sizing: border-box;
}

@mixin text-input {
	border: 1px solid #E2E1E5;
	outline: none;
    border-radius: 2px;
	font-size: 14px;
	font-weight: 400;
	padding: 10px 15px;
	transition: 0.05s linear;
	
	&::placeholder {
		color: $ui-disabled;
		font-size: 14px;
	}
    &--bad {
        color: $ui-error;
        border-color: $ui-error;

        &::placeholder {
            color: $ui-error;
        }
    }
	&:hover, &:focus {
		border-color: $dark;
	}
}

@mixin elements-container {
	display: grid;
	justify-content: space-between;
	position: relative;
	&::before {
		content: '';
		width: 200px;
		height: 200px;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		border-top: 1px solid $dark;
		border-left: 1px solid $dark;
	}

	@media only screen and (min-width: $xs) and (max-width: calc($sm - $eps)) {
		padding: 0;

		&::before {
			display: none;
		}
	}
}
