$dark: #232323;
$light: #fafafa;
$ui-active: #d9d9d9;
$ceramic: #c69978;
$ui-disabled: #d2d2d2;
$ui-error: #db0c35;

$lg: 1920px;
$md: 1200px;
$sm: 768px;
$xs: 0px;
$zero: 0px;

$eps: 1px;

$default-box-shadow: 5px 5px 10px rgba($color: #000, $alpha: 25%);