@use "/src/sass/base/variables.scss" as *;
@use "./components/promo-section-1.component.scss";
@use "./components/promo-section-2.component.scss";
@use "./components/promo-section-4.component.scss";

@media only screen and (min-width: $lg) {
	.promo {
		.get-in-touch {
			margin-bottom: 100px;
		}
	}
}

@media only screen and (min-width: $md) and (max-width: calc($lg - $eps)) {
	.promo {
		.get-in-touch {
			margin-bottom: 60px;
		}
	}
}

@media only screen and (min-width: $sm) and (max-width: calc($md - $eps)){
	.promo {
		.get-in-touch {
			margin-bottom: 60px;
		}
	}
}

@media only screen and (min-width: $xs) and (max-width: calc($sm - $eps)) {
	.promo {
		.get-in-touch {
			margin-bottom: 60px;
		}
	}
}