@use "/src/sass/base/variables.scss" as *;
@use "./header-menu.component.scss";

.header::before {
	content: "";
	width: 55px;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 50px;

	&__logo-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__links {
		display: flex;
		justify-content: space-between;
	}
	&__link {
		text-transform: uppercase;
		font-size: 20px;
		color: $dark;
		cursor: pointer;
		margin-right: 17px;
		transition: 0.1s linear;
		text-decoration: none;
	}
	&__link:hover {
		color: $ceramic;
	}
	&__icons {
		display: flex;
		justify-content: space-between;
		width: 55px;
		height: fit-content;
	}
	&__icon {
		width: 20px;
		height: 20px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		text-decoration: none;
		color: $dark;
		transition: 0.1s linear;

		span {
			display: flex;
			justify-content: center;
		}
		span::before {
			font-size: 20px;
		}
	}
	&__icon:hover {
		color: $ceramic;
	}

	align-self: flex-end;
}

.burger {
	display: none;
	height: 23px;
	flex-direction: column;
	row-gap: 10px;
	padding-right: 35px;
	cursor: pointer;

	span {
		display: block;
		width: 20px;
		height: 1px;
		background-color: $dark;
	}
}

@media only screen and (min-width: $lg) {
	.header {
		&__logo {
			margin-bottom: 35px;
		}
		&__img {
			width: 150px;
			height: 150px;
		}
		&__links {
			width: 330px;
		}
	}

	.burger {
		display: none;
	}
}

@media only screen and (min-width: $md) and (max-width: calc($lg - $eps)) {
	.header {
		&__logo {
			margin-bottom: 20px;
		}
		&__img {
			width: 100px;
			height: 100px;
		}
		&__links {
			width: 276px;
		}
	}

	.burger {
		display: none;
	}
}

@media only screen and (min-width: $sm) and (max-width: calc($md - $eps)) {
	.header {
		&__logo {
			margin-bottom: 20px;
		}
		&__img {
			width: 100px;
			height: 100px;
		}
		&__links {
			width: 276px;
		}
	}

	.burger {
		display: none;
	}
}

@media only screen and (min-width: $xs) and (max-width: calc($sm - $eps)) {
	.header::before {
		display: none;
	}

	.header {
		&__img {
			width: 100px;
			height: 100px;
		}
		&__links {
			display: none;
		}
	}

	.burger {
		display: flex;
	}
}